In [ ]:
# Exercise 2: Create a markdown cell with the title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3: Create a markdown cell for an introduction

# In this notebook, Data Science tools and Ecosystem are summarized.

In this notebook, Data Science tools and Ecosystem are summarized.

In [8]:
# Exercise 10: Insert a markdown cell to list objectives

# __Objectives:__
#
# - List popular languages used by Data Scientists
# - Commonly used libraries used by Data Scientists
# - Creating code cells to add and multiply numbers
# - Creating a markdown cell to create tables to list Data Science tools
# - How to create markdown cells in general

__Objectives:__

- List popular languages used by Data Scientists
- Commonly used libraries used by Data Scientists
- Creating code cells to add and multiply numbers
- Creating a markdown cell to create tables to list Data Science tools
- How to create markdown cells in general

In [1]:
# Exercise 4: Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
#
# 1) R
# 2) Python
# 3) SQL
# 4) Julia
# 5) C/C++ 
# 6) Java
# 7) JavaScript
# 8) Scala
# 9) MATLAB
# 10) SAS

Some of the popular languages that Data Scientists use are:

1) R
2) Python
3) SQL
4) Julia
5) C/C++ 
6) Java
7) JavaScript
8) Scala
9) MATLAB
10) SAS

In [ ]:
# Exercise 5: Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists are:
#
# 1) Tensorflow
# 2) NumPy
# 3) SciPy
# 4) PyTorch
# 5) Pandas
# 6) Keras
# 7) MatPlotLib
# 8) SeaBorn
# 9) SciKit-Learn
# 10) Plotly

Some of the commonly used libraries used by Data Scientists are:

1) Tensorflow
2) NumPy
3) SciPy
4) PyTorch
5) Pandas
6) Keras
7) MatPlotLib
8) SeaBorn
9) SciKit-Learn
10) Plotly

In [2]:
# Exercise 6: Create a markdown cell with a table of Data Science tools

# |Data Science Tools|
# |------------------|
# |Jupyter Notebooks|
# |Spyder|
# |VS Code|
# |Zeppelin Notebooks|
# |R Studio|

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Spyder|
|VS Code|
|Zeppelin Notebooks|
|R Studio|

In [ ]:
# Exercise 7: Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 8: Create a code cell to multiply and add numbers 

# This is a simple arithmetic expression to multiply and add integers

In [3]:
(3*4)+5

17

In [4]:
# Exercise 9: Create a code cell to convert minutes to hours

# This will convert 200 minutes to hours by dividing by 60

In [6]:
200/60

3.3333333333333335

In [9]:
# Exercise 10: Insert a markdown cell to list objectives, listed under Exercise 3

In [10]:
# Exercise 11: Create a markdown cell to indicate Author's name

## Author
Andrea F

## Author 
Andrea F